@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "./include/variable.scss";
@import "./include/typography.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-playfair;
  transition: 0.2s all ease;
}
a {
  text-decoration: none;
}
body {
  background-color: #f7f6ec;
  // overflow: hidden;
}

nav{
  background-color: #13130D;
  padding: 10px;

  .desktopNav{
    .menuWrapper{
      line-height: 55px;

      a{
        margin: 0px 10px;
        color: $color-primary;

        :hover{
          color: $white;
        }
      }

    }
  }
  .mobileNav{
    display: none;
    .navbar-toggler{
      float: right;
    }
    .mobLogo{
      height: 30px;
    }
    .fa-bars{
      color: $white;
    }
    .nav-item{
      a{
        color: $color-primary;

        :hover{
          color: $white;
        }
      }
    }
  }
}


// Main section
.mainSectionWrapper {
  background-image: url("../assets/background.png");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .heading {
    color: $white;
  }

  .subHeading {
    color: $color-primary;
  }

  .ShowcasingCta {
    margin: 20px auto;

    a {
      background-color: $white;
      padding: 10px 40px;
      border-radius: 25px;
      color: $black;
    }
    a:hover {
      background-color: $color-primary;
      color: $white;
    }
  }

  .element {
    margin-top: 80px;
  }
}

// About Section
.aboutsectionWrapper {
  padding: 90px 0px;

  .abputTextWrapper {
    margin: 60px auto;
    padding: 50px;

    span {
      color: $color-primary;
    }

    h1 {
      color: $black;
    }

    p {
      color: $color-second;
    }
  }
}

// Artit Showcase
.ArtistShowcaseWrapper {
  margin: 40px 0px;

  .owl-carousel .owl-nav {
    position: absolute;
    top: 60%;
    /* left: 50%; */
    transform: translate(-50px, -50px);
    width: 100%;
    font-size: 35px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0%;
    display: block;

    span {
      background-color: #ddd7cd;
      padding: 5px 8px;
      color: #9d9485;
    }
  }
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -9%;
    display: block;

    span {
      background-color: #ddd7cd;
      padding: 5px 8px;
      color: #9d9485;
    }
  }
}

.artistWrapper {
  position: relative;

  .overlayText {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    text-align: center;
    padding: 5px;
    opacity: 0;

    a {
      color: $white;
    }
  }

  :hover .overlayText {
    opacity: 1;
  }
}
.showcaseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;

  .viewAllBtn {
    background-color: $cta-bg;
    padding: 5px 50px;

    a {
      color: $white;
    }
  }
}

// Views at showcase
.viewsAtShowcaseWrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.748), rgba(0, 0, 0, 0.773)),
    url("../assets/viewBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px;
  margin: 50px 0px;

  p {
    margin-bottom: 3px;

    span {
      color: $color-primary;
    }
  }

  h2 {
    color: $white;
    margin: 5px 0px;
    font-size: 44px;
  }

  .numbers {
    padding: 20px 0px;
    color: $white;
    .counter {
      color: $color-primary;
      font-size: 40px;
    }
  }
}

// Image gallery
.imagegalleryWrapper {
  margin: 40px auto;

  .galleryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .rightSide {
      p {
        color: $color-primary;
        margin-bottom: 3px;
      }
    }

    .viewAllBtn {
      background-color: $cta-bg;
      padding: 5px 50px;

      a {
        color: $white;
      }
    }
  }
  .galleryWrapper{
    .grid {
      margin: 20px auto;
      width: 100%;
      height: auto;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(15px, auto));
  
      .grid-items {
        position: relative;
  
        img{
          width: 100%;
          height: 100%;
        }
  
        .overlayText {
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.782);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column;
          opacity: 0;
  
          h3 {
            color: $color-primary;
            margin-bottom: 5px;
          }
  
          p {
            color: $white;
            margin-bottom: 5px;
          }
          .buyNoWCta {
            background-color: $white;
            padding: 5px 35px;
  
            a {
              color: $black;
            }
          }
        }
  
        :hover .overlayText {
          opacity: 1;
        }
      }
      
      .grid-two {
        grid-column: 2/3;
        grid-row: 1/3;
      }
      .grid-three {
        grid-column: 3/4;
        grid-row: 1/2;
      }
  
      .grid-four {
        grid-column: 1/2;
        grid-row: 2/5;
      }
  
      .grid-five {
        grid-column: 3/4;
        grid-row: 2/3;
      }
  
      .grid-six {
        grid-column: 2/4;
        grid-row: 3/5;
      }
    }
  }
  // .artGallery{
  //   columns: 3;
  //   column-gap: 16px;

  //   .girdImage{
  //     // display: block;
  //     margin-bottom: 16px;
  //     // position: relative;

  //     img{
  //       width: 100%;
        
  //     }
  //   }
  // }
}

// testimonial section
.testimonialWrapper {
  margin: 40px 0px;
  text-align: center;
  background-color: #f3f2e7;
  padding: 50px 0px;
  position: relative;

  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translate(-50px, -50px);
    width: 100%;
    font-size: 35px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0%;
    display: block;

    span {
      background-color: #ddd7cd;
      padding: 5px 8px;
      color: #9d9485;
    }
  }
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -9%;
    display: block;

    span {
      background-color: #ddd7cd;
      padding: 5px 8px;
      color: #9d9485;
    }
  }

  .testimonialsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    text-align: center;

    .testimonialText {
      color: $color-second;

      p {
        margin: 10px auto;
      }
    }

    .testimonialDetails {
      h5 {
        margin: 5px;
      }
      p {
        margin: 0px;
        color: $color-second;
      }
    }
  }
}

// Footer
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.793), rgba(0, 0, 0, 0.782)),
    url("../assets/footerBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;

  .detailsHedaing h6 {
    margin-bottom: 8px;
    color: $color-primary;
  }

  .footerLogo {
    margin-bottom: 10px;
  }

  .aboutUsWrapper {
    p {
      color: $white;
    }
  }

  .contactUsWrapper {
    color: $white;

    .address {
      margin-bottom: 5px;

      p {
        margin: 0px;
      }
    }

    .contactSource {
      color: $color-primary;
    }
  }

  .linksWrapper {
    padding-left: 50px;
    ul {
      list-style: none;
      padding: 0px;

      a {
        color: $white;
      }
    }
  }
  .getinTouchWrapper {
    ul {
      list-style: none;
      padding: 0px;

      a {
        color: $white;
      }
    }
  }

  .subscribeWrapper {
    input {
      padding: 2px 10px;
      border: 0px;
      outline: none;
      margin: 5px auto;
      width: 100%;
    }
    input[type="submit"] {
      background-color: $cta-bg;
      color: $white;
      padding: 2px 20px;
    }
  }

  .cpoyrightText {
    padding: 10px 0px;
    text-align: center;
    color: $white;
    border-top: 1px solid $color-primary;

    p {
      margin: 0px;
    }
  }
}

// Showcase page
.showcseBannerWrapper {
  height: 35vh;

  .element {
    margin: 0px;
  }
}

.showcaseUserWrapper {
  padding: 30px 0px;

  .showCaseUserCard {
    margin: 10px auto;

    .userImg  img{
      width: 100%;
    }

    .userDetails {
      background-color: #eeede0;
      text-align: center;
      padding: 15px 0px;

      h6 {
        margin-bottom: 3px;
      }

      p {
        margin-bottom: 0px;
        color: $color-second;
      }
    }
  }
}

// pagging
.pagginWrapper {
  margin: 30px auto;
  text-align: center;

  .pagging {
    .page {
      display: inline-block;
      background-color: #cbc9ad;
      padding: 2px 10px;
      border-radius: 50%;
      text-align: center;
      margin: 0px 5px;
      color: $white;
      cursor: pointer;

      a {
        color: $black;
      }
    }
    i {
      margin: 0px 10px;
      color: #3e3e3e;
    }
    .active {
      background-color: $black;
      color: $white;

      a {
        color: $white;
      }
    }
  }
}

// login form
.loginWrapper {
  height: 60vh;
  

  .formSectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 40%;
    margin: 70px auto;

    form {
        width: 40%;
        
        .fields{
            margin: 10px auto;
            
            .socialSignUp{
                margin-top: 10px;

                .socialSignUp{
                    border: 1px solid #d1d1d1;
                    padding: 10px;
                    text-align: center;
                    font-size: 18px;

                    a{
                        color: $color-second;
                        i{
                            margin-right: 20px;
                            color: $cta-bg;
                        }
                    }
                   
                }
            }
        }
        label{
            color: $color-second;
        }

        input{
            border-radius: 0px;
        }

        input[type="submit"]{
            margin: 10px auto;
            background-color:$cta-bg;
            padding: 5px 45px;
            border: 0;
            color: $white;
        }
    }
    .already{
        p{
            text-align: left;
            color: $color-second;
        }
        a{
            color: $color-primary;
        }
    }
  }
}


// poetry section
.poetryWrapper{
    margin: 40px auto;
    height: auto;
    color: $color-second;

    .poetryContainer{
        border-bottom: 2px solid #BF8E2D;
        padding: 10px 20px;
        .poetryName{
            h2{
                color: $color-primary;
            }
        }
        .poetryPerformance{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .poetryLike{
            cursor: pointer;
            
            .active{
                color: red;
            }
        }
    }

    .poetryImgWrapper{
        margin: 20px auto;
        position: relative;
        background-image: url('../assets/poetryBG.png');
        background-repeat: no-repeat;
        background-position: right;

    
    }

    
}


// Register Yourself
.regYourSelfWrapper{
  margin: 70px auto;

  .regYourSelfFormWrappers{
    width: 600px !important;
    margin: auto;
  }
  .regYourSelfFormWrapper{
    width: 450px;
    margin: auto;

    label{
      color:#000000B5;
    }
    input{
      border-radius: 0px;
    }

    .disclaimer{
      color: $color-second;
      margin: 10px auto;
      p{
        margin-bottom: 3px;
      }
    }
    input[type="submit"]{
      margin: 10px auto;
      background-color:$cta-bg;
      padding: 5px 45px;
      border: 0;
      color: $white;
    }
    .already{
      p{
          text-align: left;
          color: $color-second;
      }
      a{
          color: $color-primary;
      }
    }
    .yourselfBtn{
      padding: 5px 35px;
      border: 0px;
      margin-top: 20px;
      margin-right: 10px;
    }
    .yourselfSubmit{
      background-color: $cta-bg;
      color: $white;
    }
    .yourSelfReset{
      background-color: $black;
      color: $white;
    }
    .fields{
      margin: 10px auto;
      
      .socialSignUp{
          margin-top: 10px;

          a{
            color: $color-second;
            i{
                margin-right: 20px;
                color: $cta-bg;
            }
            .socialSignUp{
              border: 1px solid #d1d1d1;
              padding: 10px;
              text-align: center;
              font-size: 18px;
          }
        }
      }
    }
    .uploadImgWrapper{
      margin: 20px 0px;
      color: $color-second;
      p{
        
        span{
          color: $color-primary;
        }
      }
      .customeBtn{
        padding: 12px 22px;
        background-color: #FFFFFC;
        border: 1px solid #64614062;
        border-radius: 10px;
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }
}

// profile Img
.profileDetailsWrapper{
  margin: 40px 0px;
  border-bottom: 2px solid #BF8E2D;
  
  .profileContainer{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    width: 700px;
    margin: auto;
    

    .profileDetails{
      width: 400px;
      .userName{
        h3{
          font-weight: bold;
        }
        span{
          color: $color-primary;
        }
      }

      .userBio{
        p{
          margin-bottom: 3px;
          color: $color-second;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }

      .userNumbers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;

        p{
          margin-bottom: 2px;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }
}

.postWrapper{
  margin: 30px auto;
  
  .post{
    margin: 10px auto;

    img{
      width: 100%;
    }
  }

  .poetryContainer{
    background-color: #EEEDE0;
    padding: 15px 20px;
    position: relative;
    margin: 10px auto;
    
    :hover{
      background-color: #EFEDD8;
    }

    .poetryName{
      color: $color-second;
      h3{
        color: $color-primary;
      }
      p{
        font-size: 14px;
      }
    }
    .poetryText{
      color: $color-second;
    }
    .poetryDetails a{
      background-color: $cta-bg;
      padding: 5px 35px;
      color: $white;
    }
    .poetryProLike{
      position: absolute;
      top: 15px;
      right: 20px;
      color: $color-second;
      cursor: pointer;

      .active{
        color:red;
      }
    }
  }
}

// artist PDP
.paintingCartcontainer{
  .paintingCartWrapper{
    margin: 40px auto;
    padding: 40px 0px;
    border-bottom: 2px solid #BF8E2D;
  
    .cartWrapper{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 650px;
      margin: auto;
  
      .paintingDescription{
        color: $color-second;
        h3{
          color: $black;
          font-weight: bold;
        }
      }
  
      .paintingRate{
        color: $color-primary;
        font-size: 24px;
      }
  
      .cartBtn{
        padding: 10px;
        margin: 15px 0px;
        text-align: center;
      }
  
      .wishlistBtn{
        background-color: $cta-bg;
        
        a{
          color: $white;
        }
      }
      .paingingBuyBtn{
        background-color: $black;
        a{
          color: $white;
        }
      }
    }
  }
  .profileDetailsWrapper{
    margin: 0px;
    border: 0px;
    .userProfileImg{
      h4{
        margin-bottom: 50px;
        font-weight: bold;
      }
    }
  }
}

























// Media Query
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  nav{
    .desktopNav{
      display: none;
    }
    .mobileNav{
      display: block;
    }
  }
  .aboutsectionWrapper{
    padding: 20px 0px;

    .abputTextWrapper {
      margin: 0px auto;
      padding: 20px;
    }
    .aboutImg{
      padding: 30px;
    }
  }
  .ArtistShowcaseWrapper{
    .owl-carousel .owl-nav{
      display: none;
    }
  }
  .viewsAtShowcaseWrapper h2{
    font-size: 30px;
  }
  .viewsAtShowcaseWrapper .numbers .counter{
    font-size: 22px;
  }
  .testimonialsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100% !important;
    margin: auto;
    text-align: center;
  }
  .testimonialWrapper .testimonialsWrapper .testimonialText p{
    font-size: 16px;
  }
  .testimonialWrapper .owl-carousel .owl-nav{
    display: none;
  }
  .footerDetailsWrapper{
    margin: 20px auto;
  }
  footer .linksWrapper{
    padding: 0px;
    margin: 10px auto;
  }
  .viewsAtShowcaseWrapper{
    padding: 20px;
  }
  .viewsAtShowcaseWrapper .numbers{
    padding-bottom: 0px;
  }
  .paintingCartcontainer{
    .paintingCartWrapper{
      margin: 40px auto;
      padding: 40px 0px;
      border-bottom: 2px solid #BF8E2D;
    
      .cartWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
      }
      .paintingDetails{
        margin: 20px auto;
        text-align: center;
      }
    }
  }
  .profileDetailsWrapper{
    margin: 40px 0px;
    border-bottom: 2px solid #BF8E2D;
    
    .profileContainer{
      padding: 20px 0px;
      display: flex;
      justify-content:center;
      align-items: center;  
      flex-wrap: wrap;
      width: 80%;
      margin: auto;
    }
    .profileDetails{
      // width: 100% !important;
      margin: 30px auto;
      .userName{
        h3{
          font-weight: bold;
          font-size: 18px;
        }
        span{
          color: $color-primary;
        }
      }

      .userBio{
        p{
          margin-bottom: 3px;
          color: $color-second;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }

      .userNumbers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;

        p{
          margin-bottom: 2px;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }
  .regYourSelfWrapper .regYourSelfFormWrapper{
    padding: 20px;
    width: auto;
  } 
  .showcseBannerWrapper{
    height: 25vh;
  }
  .imagegalleryWrapper .galleryWrapper .grid .grid-items .overlayText h3{
    font-size: 16px;
  }
  .imagegalleryWrapper .galleryWrapper .grid .grid-items .overlayText{
    .buyNoWCta {
      background-color: $white;
      padding: 5px;
  
      a {
        color: $black;
      }
    }
  }
  .mainSectionWrapper{
    height: 50vh;
  }
} 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  nav{
    .desktopNav{
      display: none;
    }
    .mobileNav{
      display: block;
    }
  }
  .aboutsectionWrapper{
    padding: 20px 0px;

    .abputTextWrapper {
      margin: 0px auto;
      padding: 20px;
    }
    .aboutImg{
      padding: 30px;
    }
  }
  .ArtistShowcaseWrapper .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 2%;
    display: block;
  }
  .ArtistShowcaseWrapper .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -18%;
    display: block;
  }
  .testimonialsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70% !important;
    margin: auto;
    text-align: center;
  }
  .testimonialWrapper .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 8%;
    display: block;
  }
  .testimonialWrapper .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -13%;
    display: block;
  }
  .testimonialWrapper .testimonialsWrapper .testimonialText p{
    font-size: 14px;
  }
  .paintingCartcontainer{
    .paintingCartWrapper{
      margin: 40px auto;
      padding: 40px 0px;
      border-bottom: 2px solid #BF8E2D;
    
      .cartWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
      }
      .paintingDetails{
        margin: 20px auto;
        text-align: center;
      }
    }
  }
  .profileDetailsWrapper{
    margin: 40px 0px;
    border-bottom: 2px solid #BF8E2D;
    
    .profileContainer{
      padding: 20px 0px;
      display: flex;
      justify-content:center;
      align-items: center;  
      flex-wrap: wrap;
      width: 80%;
      margin: auto;
    }
    .profileDetails{
      // width: 100% !important;
      margin: 30px auto;
      .userName{
        h3{
          font-weight: bold;
          font-size: 18px;
        }
        span{
          color: $color-primary;
        }
      }

      .userBio{
        p{
          margin-bottom: 3px;
          color: $color-second;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }

      .userNumbers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;

        p{
          margin-bottom: 2px;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }
  .regYourSelfWrapper .regYourSelfFormWrapper{
    padding: 20px;
    width: auto;
  } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

  nav{
    .desktopNav{
      .menuWrapper{
        font-size: 8px;
      }
    } 
  }

  .viewsAtShowcaseWrapper{
    h2{
      font-size: 34px;
    }
  }
  .ArtistShowcaseWrapper {
    .owl-nav button.owl-prev{
      position: absolute;
      left: 4% !important;
      display: block;
    }
  }
  .testimonialWrapper{
    .owl-carousel .owl-nav button.owl-prev{
      position: absolute;
      left: 6%;
      display: block;
    }
  }
  .aboutsectionWrapper{
    padding: 50px 0px;
  }
  .aboutsectionWrapper .abputTextWrapper{
    padding: 0px;
    margin: 20px auto;
  }
  .paintingCartcontainer{
    .paintingCartWrapper{
      margin: 40px auto;
      padding: 40px 0px;
      border-bottom: 2px solid #BF8E2D;
    
      .cartWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
      }
      .paintingDetails{
        margin: 20px;
        text-align: center;
      }
    }
  }
  .testimonialsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70% !important;
    margin: auto;
    text-align: center;
  }
  .profileDetailsWrapper{
    margin: 40px 0px;
    border-bottom: 2px solid #BF8E2D;
    
    .profileContainer{
      padding: 20px 0px;
      display: flex;
      justify-content:space-around;
      align-items: flex-start;  
      width: 80%;
      margin: auto;
    }
    .profileDetails{
      width: 50% ;
      // margin: 30px auto;
      .userName{
        h3{
          font-weight: bold;
          font-size: 18px;
        }
        span{
          color: $color-primary;
        }
      }

      .userBio{
        p{
          margin-bottom: 3px;
          color: $color-second;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }

      .userNumbers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;

        p{
          margin-bottom: 2px;
        }
        span{
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .paintingCartcontainer .paintingCartWrapper .cartWrapper{
    width: 60%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }